extends layout

block content
  .row.banner
    .col-12
      h1 Welcome to Online Auction System 
  .row
    .col-12.col-lg-8
      h2 At Online Auction System
      p 
        | We transform the auction experience with a dynamic, secure, and easy-to-use platform. Whether you're buying or selling, our goal is to provide a seamless and enjoyable auction experience.
        br
      h3 Our Mission
      p 
        | To offer a transparent and efficient marketplace, empowering sellers and delighting buyers with a secure and engaging auction environment.
        br
      h3 Our Vision
      p 
        | To be the leading online auction platform, setting the standard for innovation, user satisfaction, and operational excellence.
        br
      h3 Working Propositions 
      ul
        li User-Friendly: Intuitive design for easy listing and bidding.
        li Secure: Advanced encryption to protect your transactions.
        li Diverse Listings: A wide range of items with detailed descriptions.
        li Real-Time Bidding: Live auctions with instant updates.
        li 24/7 Support: Dedicated assistance for a smooth experience.
        br
      h3 Our Values
      ul
        li Integrity: Honest and fair dealings.
        li Innovation: Continuous improvement and new features.
        li Customer-Centricity: Focused on exceeding user expectations.
        li Community: Building a supportive and engaging environment.
        br
      h3  
        | Thank you for choosing Online Auction System. We’re excited to be part of your auction journey!
