extends layout

block content
  .row.banner
    .col-12
      h1 Sports Auction Facility

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Products
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Hassle Free Bidding
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Premium wifi

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                .row 
                span.reviewAuthor Holmes
                small.reviewTimestamp   16 February 2017
              .col-12
                p What a great service.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                .row 
                span.reviewAuthor  Charlie Chaplin
                small.reviewTimestamp  14 February 2017
              .col-12
                p It was okay. Bidding wasn't great.

    .col-12
      p.lead
        | Online Auction System is an accessible interface to buy and sell products,Its easy to use and interact.
      p
        | If you've used our service,Do share your valuable thoughts by - leaving a review to help us to improve our inteface,attract more people like you.
